menu "MCP Configuration"

	config CLIENT_ID
	    int "Client ID"
	    default "99"
	    help
	        Unique id for client
	
	config WIFI_SSID
	    string "WiFi SSID"
		default "myssid"
		help
			SSID (network name) for the example to connect to.
	
	config WIFI_PASSWORD
	    string "WiFi Password"
		default "mypassword"
		help
			WiFi password (WPA or WPA2) for the example to use.
	
			Can be left blank if the network has no security set.
	
	config SERVER
	    string "Server Address"
		default "securitytest.makeict.org"
		help
			Address of Master Control Program instance to connect to.

	config SERVER2
	    string "Server Address2"
		default "securitytest2.makeict.org"
		help
			Address of Backup Master Control Program instance to connect to.
	
	config PORT
	    string "Server Port"
		default "4443"
		help
			Port of Master Control Program instance to connect to.
	
	config USERNAME
	    string "MCP Username"
		default "username"
		help
			Username (email) of MCP user.
	
	config PASSWORD
	    string "MCP Password"
		default "password"
		help
			Password of MCP user.

	config DOOR_DELAY
	    int "Door Delay MS"
		default 500
		help
			Delay MS between validation and opening door

	config DOOR_OPEN
	    int "Door Open MS"
		default 5000
		help
			Number of MS to keep door strike energized.
	
	config CURRENT_TIMEOUT
	    int "Current Sensor Timeout"
	    default 5
	    help
	        Number of seconds before client deactivates due to current below threshold.


endmenu